@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {
   .mobile {
       display: block;
   }

   .header .mobile {
       margin-right: 20px;
   }

   .lien-logo {
    margin-left: 20px;
   }
   
   #inscription {
    display: none;
   }

   .header {
    display: flex;
    flex-wrap: wrap;
   }

    .en-tete ul {
        display: inline-flex;
    }

   

    .en-tete li {
        display:inline-block;
    }

    .en-tete li.active {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    nav {
        display: block; 
        width: 100%;
    }

    .en-tete nav ul {
        width: 100%;
        display: flex;
    }

    .en-tete nav ul li {
        width: 50%;
        
    }

    section.recherche {
        padding: 20px;
    }

  
    #submit {
        display: none;
    }

    .recherche form {
        max-width: 100%;
        overflow: auto;
    }

    .recherche form button {
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 1rem 1rem 1rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    span {
        display: inline-flex;
        align-items: baseline;
        margin-right: 5px;
    }

    .filtres-de-recherche i {
        min-height: 0rem;
        min-width: 0rem;
    }

    .filtres-de-recherche div {
        margin-right: 1rem;
    }

   

    .filtres-de-recherche {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        width: 100%;
    }

    i.fas.fa-money-bill-wave {
        margin: -2px;
    }

    i.fas.fa-child {
        margin: -2px;
    }

    i.fas.fa-heart {
        margin: -2px;
    }

    i.fas.fa-dog {
        margin: -2px;
    }

    .filtres-de-recherche {
        margin-top: 2rem;
    }

    i.fas.fa-money-bill-wave {
        margin: -2px;
    }

    aside.lespluspopulaires {
        border-radius: 0rem;
        row-gap: 1rem;
    }
    
    .hebergements_wrapper {
        display: flex;
        flex-direction: column-reverse;
        column-gap: unset;
        grid-template-columns: none;
    }

    .hebergements-marseille {
        border-radius: 1.5rem;
        padding: 2rem;
        column-gap: 2rem;
        row-gap: 2rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 0rem 0.5rem 0rem 0rem;
    }

    li {
        margin: 1rem 0 0;
    }

    .activites {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 10px;
    }
   
    .activites img {
        position: inherit;
    }

    .activites a {
        box-shadow: 0 0 7px #0000002e;
    }

    .colonne-footer {
        display: flex;
        flex-direction: column;
    }

}