@font-face {
    font-family: 'Raleway';
    src:
        url(../fonts/Raleway-Regular.ttf) format('truetype'),
        /* Safari, Android, iOS */

}

html {
    font-family: "Raleway", sans-serif;
}

/*head*/
head {
    display: none;
}

/*head*/

/*body*/
body {
    margin: 0px;
}

git

/*body*/
/*en-tête*/
/*header*/
.en-tete {
    grid-template-columns: auto 1fr auto auto;
    display: grid;
}

.conteneur {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*header*/

/*a(logo)*/
.lien-logo {
    display: inline-block;
}

/*a(logo)*/

/*nav*/

nav {
    display: block;
}

/*nav*/

/*ul*/

.en-tete ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

/*ul*/

/*li*/
.en-tete li {
    display: inline-block;
    padding: 40px 20px 30px;
    margin: 0px;
}

.en-tete li.active {
    border-top: 3px solid #0065FC;
}

/*li-hebergement*/
.en-tete nav li.active a {
    color: #0065FC;
}

/*li-gebergement*/

/*li-activités*/
.en-tete nav a[data-active="non"] {
    padding: 1rem 0;
    font-weight: 500;
    text-align: center;
    border-bottom: 3px transparent solid;
}

/*li_activités*/

/*li-s'inscrire*/
#inscription {
    grid-area: button;
}

#inscription a {
    color: #0065FC;
    font-weight: 700;
}

/*li-s'inscire*/
/*li*/
/*en-tête*/

/*body*/
.body {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

body {
    display: block;
}

/*recherche*/
.main {
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}
.recherche_wrapper {
    display: grid;
}


.recherche h1 {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.recherche header p {
    margin-top: 0;
}

.recherche form {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.icondenavigation {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.recherche form input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

input {
    appearance: auto;
    box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    border-image: initial;
}

.recherche form button {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
}

/*Filtres*/
.filtres-de-recherche {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filtres-de-recherche h2 {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.filtres-de-recherche div {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    padding-right: 1rem;
}

.filtres-de-recherche i {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    color: #0065FC;
}

.information {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.i {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

/*Filtres*/

/*recherche*/
/*Hebergements à Marseille*/

.hebergements_wrapper {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}

.hebergements-marseille {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.hebergements-marseille header {
    grid-column: 1/-1;
}

.hebergements-marseille h2 {
    margin: 0;
}

.hebergements-marseille article {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

.hebergements-marseille figure {
    margin: 0;
}

.hebergements-marseille img {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.hebergements-marseille h3 {
    display: block;
    margin: 0px;
    padding: 10px;
    display: block;
}

.hebergements-marseille p {
    margin: -5px 0px -20px 10px;
    text-decoration: none;
    font: caption;
}

.hebergements-marseille ul {
    margin: 5px 0.75rem 0.25rem 0.75rem;
}

.hebergements-marseille ul {
    list-style: none;
    padding: 4px;
    margin: 6px;
    display: flex;
}

.fas[data-active="true"] {
    color: #0065FC;
}

.fas[data-active="false"] {
    color: #d9d9d9;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

a {
    text-decoration: none;
    color: black;
}

.hebergements-marseille a {
    font-weight: bold;
}

/*Hebergement à Marseille*/

/*Les plus populaires*/
aside {
    display: block;
}

.lespluspopulaires {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
    row-gap: 2rem;
    display: grid;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
}

.lespluspopulaires h2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.lespluspopulaires article {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    margin: 7px;
}

article {
    display: block;
}

.lespluspopulaires a {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.lespluspopulaires figure {
    margin: 0;
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.lespluspopulaires img {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lespluspopulaires {
    flex-direction: column;
    justify-content: space-between;
}

.lespluspopulaires h3 {
    margin: 0px;
    padding: 10px;
    display: block;
}

.lespluspopulaires p {
    margin: -5px 0px -20px 10px;
    text-decoration: none;
    font: caption;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.lespluspopulaires- {
    justify-content: space-between;
    display: flex;
    flex-flow: column;
}

.lespluspopulaires2 {
    justify-content: space-between;
    display: flex;
    flex-flow: column;
}

.lespluspopulaires ul {
    margin: 0 0.75rem 0.25rem 0.75rem;
    list-style: none;
    padding: 4px;
    margin: 20px 0 0 8px;
    display: flex;
}

.lespluspopulaires- ul li {
    margin: 0;
}

.lespluspopulaires2 ul li {
    margin: 0;
}


/*Les plus populaires*/
/*recherche*/

/*Activités*/
.hebergements_wrapper {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}
.activites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    column-gap: 2rem;
    margin: 4rem 5px;
}

.activites h2 {
    grid-column: 1 / -1;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#A {
    grid-row: 2/7;
    grid-column: 1/2;
}

.activites a {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
}

.actMars {
    position: relative;
    flex: 1;
}

.activites img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activites h3 {
    font-weight: bold;
    color: black;
    margin: 1.2rem 1.5rem;
}

#B {
    grid-column: 2/3;
    grid-row: 2/5;
}

#C {
    grid-column: 3/4;
    grid-row: 2/7;
}

#D {
    grid-column: 4/5;
    grid-row: 2/3;
}

#E {
    grid-column: 2/3;
    grid-row: 6/7;
}

#F {
    grid-column: 4/5;
    grid-row: 4/7;
}

/*Activités*/

/*pieds de page*/
.container {
    background-color: #F2F2F2;
}

.conteneur {
    max-width: 1440px;
    margin: auto;
}

.colonne-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container h3 {
    font-weight: bold;
    color: black;
    margin: 49px 0px 0px 23px;
}

.container ul {
    list-style: none;
    margin: 0px 0px 0px -18px;
}

li {
    margin: 1rem 0;
}

.container a {
    text-decoration: black;
    cursor: pointer;
    color: black;
}

/*pieds de page*/

@media all and (max-width:500px) {
    .lien-logo {nav-up:100%}
}